#include <windows.h>
1 RT_MANIFEST "app.manifest"
1 ICON "../assets/meridian.ico"
1 VERSIONINFO
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "FileDescription", "Meridian - iOS Location Studio\0"
   VALUE "ProductName", "Meridian\0"
   VALUE "ProductVersion", "0.1.0\0"
   VALUE "LegalCopyright", "Meridian contributors\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
